:root {
    --black: #0C2659;
    --white: #FCECF3;
    --accent1: #E9DFF4;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 600px;
    height: 600px;
    gap: 1px;
}

input {
    width: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    font-size: 79px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border: 2px solid var(--white);
}

input:disabled {
    cursor: default;
}

input:focus, button:focus {
    outline: none;
}

button {
    outline: none;
    border: none;
    background-color: var(--accent1);
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px;
    width: 600px;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}